<div class="container">

    {{#if (tipo_usuario user.tipo)}}
    <div class="row">

        <div class="col col-md-12 col-lg-3 col-sm-12">

            <select class="form-select fw-bold fs-5 mt-3 btn-pedidos border border-primary" id="select_pedidos"
                name="pedidos" required>
                <option value="verificacion">Pedidos en Verificación</option>
                <option value="pendiente">Pedidos Pendientes</option>
                <option value="aprobado">Pedidos Aprobados</option>
            </select>

        </div>

    </div>

    {{else}}
    <h4><strong>Tus pedidos</strong></h4>
    {{/if}}

    {{#each pedidos}}

    <div class="row mb-2">

        <div class="col">

            <div class="card border border-primary">

                <div class="card-header">

                    <div class="row align-items-center">

                        <div class="col">

                            <span><strong>Pedido Realizado:</strong></span>
                            <p>{{format creacion}}</p>

                        </div>

                        <div class="col">
                            <span><strong>Código de Pedido:</strong></span>
                            <p>{{_id}}</p>

                        </div>
                        <div class="col">
                            <span><strong>Estado:</strong></span>
                            <p>{{estado}}</p>

                        </div>

                        {{#if (comparar estado 'PENDIENTE')}}
                        {{#unless transaccion}}
                        <div class="col">

                            <span class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_comprobante"
                                data-tipo="transacciones" data-id="{{_id}}"><i class="fas fa-upload"></i> Subir
                                Transacción</span>

                        </div>
                        {{/unless}}
                        {{/if}}

                        {{#if (tipo_usuario ../user.tipo)}}
                        <div class="col">

                            <a class="btn btn-outline-success" target="_blank" href="/administrar/usuarios/{{usuario_id._id}}"><i
                                    class="fas fa-user"></i> Datos Usuario</a>

                        </div>
                        {{/if}}

                        {{#unless (comparar estado 'APROBADO')}}
                        <div class="col">

                            <span class="btn btn-danger btn-eliminar" data-id="{{_id}}">Cancelar Pedido</span>

                        </div>
                        {{/unless}}

                        {{#if transaccion}}
                        <div class="col">

                            <a class="btn btn-outline-primary" target="_blank"
                                href="/img/transacciones/{{transaccion}}"><i class="fas fa-file"></i> Ver
                                Transacción</a>

                        </div>

                        {{/if}}

                        {{#if (tipo_usuario ../user.tipo)}}
                        {{#if (comparar estado 'VERIFICACIÓN')}}
                        <div class="col">

                            <span class="btn btn-success btn-aprobar" data-bs-toggle="modal"
                                data-bs-target="#modal_comprobante" data-tipo="facturas" data-id="{{_id}}">Aprobar
                                Pedido</span>

                        </div>

                        {{/if}}
                        {{/if}}

                        {{#if (comparar estado 'APROBADO')}}
                        <div class="col">

                            <a class="btn btn-outline-success" target="_blank" href="/img/facturas/{{factura}}"><i
                                    class="fas fa-file"></i> Ver Factura</a>

                        </div>
                        {{/if}}

                    </div>

                </div>

                <div class="card-body">

                    {{#each items}}
                    <div class="row text-center align-items-center mb-3">

                        <div class="col">

                            <p>x{{cantidad}}</p>

                        </div>

                        <div class="col">

                            <img src="/img/products/{{imagen foto}}" class="img-fluid"
                                style="height: 100px; width: 100px; max-height: 100px; max-width: 100px;">

                        </div>

                        <div class="col-4">

                            <p><strong>Modelo:</strong> {{producto}} - <strong>Color:</strong> {{color}} -
                                <strong>Talla:</strong> {{talla}}
                            </p>

                        </div>

                        <div class="col">

                            <p>$ {{precio}}</p>

                        </div>

                    </div>
                    {{/each}}

                </div>

                <div class="card-footer">
                    <div class="row text-end">
                        <div class="col">
                            <span><strong>Total del Pedido: </strong> $ {{total}}</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    {{/each}}

</div>

{{> modal_comprobante}}

<script>

    if ("{{tipo}}") {

        document.getElementById("select_pedidos").value = "{{tipo}}"

    }


    $('.btn-pedidos').change(function (e) {

        window.location.href = "/pedidos/" + document.getElementById("select_pedidos").value

    });


    $('.btn-eliminar').click(function (e) {

        e.preventDefault();

        let $this = $(this);

        let id = $this.data('id')

        const response = confirm('¿Estas seguro de eliminar el Pedido?');

        if (response) {

            $.ajax({

                url: '/pedidos/eliminar',
                type: 'DELETE',
                data: { id },
                success: function (data) {

                    if (data.valor) {
                        window.location.reload()
                    } else {
                        alert(data.message)
                    }

                }

            })

        }

    });

</script>