<div class="container">

    <div class="row mt-3 align-items-center justify-content-center">

        <div class="col-10 mb-3">

            <div class="card mb-2" style="box-shadow: 0 2px 10px rgba(0,0,0,.075);">
                    
                <h4 class="card-header"><b>Editar Perfil</b></h4>

                <div class="card-body">

                    <form class="row g-3" method="POST">

                        <div class="col-md-6">
                            <label class="form-label fs-5"><b>* Cédula:</b></label>
                            <input type="text" class="form-control fs-5" name="cedula" placeholder="Cédula de Identidad"
                                value="{{usuario.cedula}}" required>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label fs-5"><b>* Nombres:</b></label>
                            <input type="text" class="form-control fs-5 " name="nombres" placeholder="Nombres Completos"
                                value="{{usuario.nombres}}" required>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label fs-5"><b>* Apellidos:</b></label>
                            <input type="text" class="form-control fs-5" name="apellidos"
                                placeholder="Apellidos Completos" value="{{usuario.apellidos}}" required>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label fs-5"><b>Genero:</b></label>
                            <select class="form-select fs-5" name="genero" required>
                                <option disabled selected value="">Selecciona...</option>
                                <option value="MASCULINO" {{{select usuario.genero 'MASCULINO' }}}>Masculino</option>
                                <option value="FEMENINO" {{{select usuario.genero 'FEMENINO' }}}>Femenino</option>
                                <option value="OTRO" {{{select usuario.genero 'OTRO' }}}>Otro</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label fs-5"><b>* Correo:</b></label>
                            <input type="email" class="form-control fs-5" name="correo" placeholder="Correo Electrónico"
                                value="{{usuario.correo}}" required>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label fs-5"><b>* Teléfono:</b></label>
                            <input type="text" class="form-control fs-5" name="telefono" placeholder="Telefono"
                                value="{{usuario.telefono}}" required>
                        </div>

                        <div class="col-12 text-end">

                            <button class="btn btn-primary btn-block fs-4" type="submit">
                                <i class="fa fa-user-edit"></i> Actualizar Datos</button>

                        </div>

                    </form>
                </div>

            </div>

        </div>

    </div>

</div>



<link rel="stylesheet" href="/css/style.css">

<a class="ir-arriba"  javascript:void(0) title="Volver arriba">
  <span class="fa-stack">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
  </span>
</a>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="/js/scriptarriba.js"></script>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

<link rel="stylesheet" href="/css/style.css">
  
<!-- partial:index.partial.html -->
<div class="btn_social"><span class="fa fa-angle-double-left"></span></div>
<div class="social">
 <ul>
  <li><a href="https://www.facebook.com/Calzados-Ivan-Lafebre-108764011736777" target="_blank" class="face_"><i class="fa fa-facebook"></i></a></li>
  <li><a href="" target="_blank" class="inst_"><i class="fa fa-instagram"></i></a></li> 
  <li><a href="calzadoivanlafebre@gmail.com" class="mail_"><i class="fa fa-envelope-o"></i></a></li>
 </ul>
</div>
<!-- partial -->
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script><script  src="/js/scriptsocial.js"></script>