<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

<div class="container">
    <a type="button" href="/administrar" class="btn btn-primary btn-lg "><i class="fas fa-chevron-left"></i>
        Volver</a><br><br>

    <div class="row mb-3">

        <div class="col col-lg-3 col-md-6 mb-2">

            <div class="card" style="box-shadow: 0 2px 10px rgba(0,0,0,.075);  border-top: 4px solid #0dc45f;">

                <div class="card-body">

                    <span class="card-title"><Strong>Ventas</Strong></span>

                    <h3 class="text-muted mt-2">$ {{total_ventas}}</h3>

                </div>

            </div>

        </div>

        <div class="col col-lg-3 col-md-6 mb-2">

            <div class="card" style="box-shadow: 0 2px 10px rgba(0,0,0,.075);  border-top: 4px solid #0dc45f;">

                <div class="card-body">

                    <span class="card-title"><Strong>Ventas Pendientes</Strong></span>

                    <h3 class="text-muted mt-2">Cant: {{cant_ventas_pendientes}} - Total: $ {{total_ventas_pendientes}}
                    </h3>

                </div>

            </div>

        </div>

        <div class="col col-lg-2 col-md-6  mb-2">

            <div class="card" style="box-shadow: 0 2px 10px rgba(0,0,0,.075);  border-top: 4px solid #0ea0ff;">

                <div class="card-body">

                    <a href="/administrar/reportes/clientes"><span class="card-title"><Strong>Clientes</Strong></span></a>

                    <h3 class="text-muted mt-2">{{count_usuarios}}</h3>

                </div>

            </div>

        </div>

        <div class="col col-lg-2 col-md-6  mb-2">

            <div class="card" style="box-shadow: 0 2px 10px rgba(0,0,0,.075);  border-top: 4px solid #ff970e;">

                <div class="card-body">

                    <a href="/administrar/reportes/productos"><span class="card-title"><Strong>Productos</Strong></span></a>

                    <h3 class="text-muted mt-2">{{count_productos}}</h3>

                </div>

            </div>

        </div>

        <div class="col col-lg-2 col-md-6  mb-2">

            <div class="card" style="box-shadow: 0 2px 10px rgba(0,0,0,.075);  border-top: 4px solid #ff2a0e;">

                <div class="card-body">

                    <span class="card-title"><Strong>Categorias</Strong></span>

                    <h3 class="text-muted mt-2">{{count_categorias}}</h3>

                </div>

            </div>

        </div>


    </div>


    <div class="row mb-3">

        <div class="col">

            <div class="card">

                <div class="card-header">

                    <h5 class="text-center"><strong>Cuadro de Ventas</strong></h5>

                </div>

                <div class="card-body">

                    <canvas id="Chart_ventas" width="100%" height="25"></canvas>

                    <script>
                        var g1 = "{{valores1}}"
                        var ec1 = "{{encabezado1}}"
                        const ctx1 = document.getElementById('Chart_ventas').getContext('2d');
                        const myChart1 = new Chart(ctx1, {
                            type: 'line',
                            data: {
                                labels: ec1.split(","),
                                datasets: [{
                                    label: 'Estadística de Ventas',
                                    data: g1.split(","),

                                    fill: false,
                                    borderColor: 'rgb(75, 192, 192)',
                                    tension: 0.1
                                }]
                            }, options: {
                                scales: {
                                    y: {
                                        ticks: {
                                            // Include a dollar sign in the ticks
                                            callback: function (value, index, ticks) {
                                                return '$' + value;
                                            }
                                        }
                                    }
                                }
                            }
                        });
                    </script>

                </div>

            </div>

        </div>

    </div>


    <div class="row mb-3">

        <div class="col-6">

            <div class="card">

                <div class="card-header">

                    <h5 class="text-center"><strong>Top 5 Productos más vistos</strong></h5>

                </div>

                <div class="card-body">

                    <canvas id="Chart_Product_views" width="100%" height="50"></canvas>
                    <script>
                        var g2 = "{{valores2}}"
                        var ec2 = "{{encabezado2}}"
                        const ctx2 = document.getElementById('Chart_Product_views').getContext('2d');
                        const myChart2 = new Chart(ctx2, {
                            type: 'bar',
                            data: {
                                labels: ec2.split(","),
                                datasets: [{
                                    label: 'Top 5 Productos',
                                    data: g2.split(","),
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                indexAxis: 'y',
                                scales: {
                                    x: {
                                        ticks: {
                                            // Include a dollar sign in the ticks
                                            callback: function (value, index, ticks) {
                                                return 'vistas ' + value;
                                            }
                                        }
                                    }
                                }
                            }
                        });
                    </script>
                </div>

            </div>

        </div>

        <div class="col-6">

            <div class="card">

                <div class="card-header">

                    <h5 class="text-center"><strong>Top 5 Clientes</strong></h5>

                </div>

                <div class="card-body">

                    <canvas id="Chart_users_top" width="100%" height="50"></canvas>

                    <script>

                        var g3 = "{{valores3}}"
                        var ec3 = "{{encabezado3}}"

                        const ctx3 = document.getElementById('Chart_users_top').getContext('2d');
                        const myChart3 = new Chart(ctx3, {
                            type: 'bar',
                            data: {
                                labels: ec3.split(","),
                                datasets: [{
                                    label: 'Top 5 Clientes',
                                    data: g3.split(","),
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true,
                                        ticks: {
                                            // Include a dollar sign in the ticks
                                            callback: function (value, index, ticks) {
                                                return '$' + value;
                                            }
                                        }
                                    }
                                }
                            }
                        });
                    </script>

                </div>

            </div>

        </div>


    </div>

    <div class="row">

        <div class="col">

            <div class="card">

                <div class="card-header">

                    <h5 class="text-center"><strong>Eventos de Calendario</strong></h5>

                </div>

                <div class="card-body">
            
                    {{> table_calendario}}
            

                </div>

            </div>


        </div>

    </div>


</div>